includes:
    - vendor/pestphp/pest-plugin-phpstan/extension.neon
parameters:
	level: 10
	paths:
		- src
	tmpDir: cache/phpstan
	excludePaths:
		- tests/Tests/fixtures
	bootstrapFiles:
		- vendor/autoload.php
