includes:
    - vendor/pestphp/pest-plugin-phpstan/extension.neon
parameters:
    level: 10
    paths:
        - src
        - tests
    tmpDir: cache/phpstan
    excludePaths:
        - tests/Unit/fixtures
    bootstrapFiles:
        - vendor/autoload.php

services:
    -
        class: Omega\PHPStan\Type\ReflectionFunctionAbstractReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
    -
        class: Omega\PHPStan\Type\ValidatorMagicPropertiesClassReflectionExtension
        tags:
            - phpstan.broker.propertiesClassReflectionExtension
